extends layout

block content
  h1 CloudSet, The Future Iz Here 
  p “Programmers don’t burn out on hard work, they burn out on change-with-the-wind directives and not ‘shipping’.”
  p “Practice the philosophy of continuous improvement. Get a little bit better every single day.”
  .stars
  .twinkling
  .clouds
